@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#html{
    scroll-behavior: smooth;
    background-image: url(img/slide/background.png);
    background-size: cover;
    overflow: hidden;
}
.main {
    height: 100vh;
    background: #000000ca;
    background-size: cover;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
}
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 10px;
    z-index: 10;
    height: 50px;
}
#logo {
    cursor: pointer;
    margin: 5px;
    width: auto;
    height: 30px;
    
}
ul li  {
    list-style: none;
    display: inline-block;

    position: relative;
    background: none;
    transition: .4s;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 300;
    
}
ul li a {
    left: 0;
    text-decoration: none;
    color: #fff;
}
ul li a:hover {
    color: rgb(157, 54, 241);
    transition: .4s;
    transform: scale(1.1);
    text-shadow: 0px 0px 10px  rgba(122, 48, 183, 0.916);
}

.descarga a{
    display: inline-block;
    border: 1px solid rgb(130, 43, 201);
    padding: 10px 20px;
    background: transparent;
    border-radius: 0px;
    text-decoration: none;
    color: #fff;
    line-height: 1.4;
    font-size: 15px;
    font-weight: 400;
    transition: .4s;
}
.descarga a:hover {
    background: rgba(130, 43, 201, 0.637);
    transition: .4s;
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 30px 0px rgb(130, 43, 201);
    -moz-box-shadow: 0px 0px 30px 0px rgb(130, 43, 201);
    box-shadow: 0px 0px 30px 0px rgb(130, 43, 201);
}
.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 50px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}




.colum {
    display: grid;
    grid-template-columns: 1.1fr 1.8fr 1.1fr;
    grid-template-rows: 100%;
    height: 100%;
}
.descripcion-pj {
    width: 100%;
    text-align: center;
    padding-top: 50%;
    padding-left: 20px;

    height: 100%;
}
.descripcion-pj h1 {
    color: #fff;
    font-size: 30px;
}
#raresa-1 {
    display: flex;
    padding-left: 15px;
    gap: 40px;
    justify-content: center;
    padding-top: 15px;
    text-align: center;
    
}
#raresa-1 #raresa {
    width: 20px;

}
#raresa-1 #arma{
    width: auto;
    height: 20px;
}
#raresa-1 #elementos {
    height: 20px;
}
.descripcion-pj p {
    color: #c8c8c8;
    padding-top: 16px;
    padding-left: 0spx;
    font-size: 15px;

    text-align: center;
    

}

.personaje {
    display: flex;
    align-items: center;
    justify-content: center;

}
.img-pj {
    width: 500px;
    height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    object-fit: c;

}
.pj img {
    overflow: hidden;
    object-fit: cover;
    height: 600px;
    width: auto;
}
.icons{
    display: grid;
    justify-content: center;

    height: 100%;

}
.icons-pj {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    padding-top: 25px;
    padding-bottom: 60%;
    padding-left: auto;
    margin: 5px 5px 5px;
}
.icon img {
    border: 5px solid rgb(69, 64, 73);;
    background-color: rgba(255, 255, 255, 0.824);
    filter: grayscale(80%);
    border-radius: 10px;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    width: 80px;
    transition: .7s;

}
.icon img:hover {
    filter: saturate(100%);
    border: 5px solid  rgba(45, 9, 75, 0.619);
    background-color: rgba(98, 98, 98, 0.157);
    transform: scale(1.1);
    transition: .7s;
}


